pullRequestMiner/src/pullRequests/.*
bin/.*
\.class$
\.pyc$
\.pyo$
\.swp$
\.~$
\.bkp$
\.bak$
\.trace$
\.local$
^unversioned/.*
\.jude\.bak$
\.jude\.lock$
^ccjava-plugin/workspace/.*
.*/ccjava-results/.*
ccjava-plugin/build/.*$

pullRequestWatcher/src/projectList.conf
pullRequestWatcher/src/pull_db
pullRequestWatcher/src/results.html
